body {
  background-color: rgb(red, green, blue);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: seashell;
}

.image {
  width: 500px;
  margin-top: 10px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10px;
  }

  .image {
    width: 100%;
  }
}
